{{#secondarynavigation}}
    <div class="secondarynavcontainer" data-region="secondary-navigation">
        <div class="drawerheader">
            <div class="drawertitle">Secondary navigation</div>
            <button class="btn drawertoggle icon-no-margin icon-size-4" data-action="closedrawer">
                {{#pix}}e/cancel, core, {{#str}}closebuttontitle, core{{/str}}{{/pix}}
            </button>
        </div>
        <nav id="secondarynavnav" class="navbar navbar-light navbar-expand w-100 p-0">
            {{{ secondarynavigation }}}
        </nav>
    </div>
    <div class="d-flex secondary-mobile">
        <button class="d-md-none regiontoggle mobiletoggle btn " data-action="view-secondary-nav">
            Secondary
        </button>
        <div class="togglecontainer ml-auto">
            {{#courseindex}}
                <button class="btn regiontoggle drawer-left-toggle icon-no-margin {{#navdraweropen}}open{{/navdraweropen}}" data-preference="drawer-open-nav" data-state="show-drawer-left" data-action="drawer-left-toggle">{{#pix}}e/align_left, core{{/pix}}</button>
            {{/courseindex}}
            {{#hasblocks}}
                <button class="btn regiontoggle drawer-right-toggle icon-no-margin mr-1 {{#blockdraweropen}}open{{/blockdraweropen}}" data-preference="drawer-open-block" data-state="show-drawer-right" data-action="drawer-right-toggle">{{#pix}}i/categoryevent, core{{/pix}}</button>
            {{/hasblocks}}
        </div>
    </div>
{{/secondarynavigation}}
{{^secondarynavigation}}
        <div class="togglecontainer ml-auto">
            {{#courseindex}}
                <button class="btn regiontoggle drawer-left-toggle icon-no-margin {{#navdraweropen}}open{{/navdraweropen}}" data-preference="drawer-open-nav" data-state="show-drawer-left" data-action="drawer-left-toggle">{{#pix}}e/align_left, core{{/pix}}</button>
            {{/courseindex}}
            {{#hasblocks}}
                <button class="btn regiontoggle drawer-right-toggle icon-no-margin mr-1 {{#blockdraweropen}}open{{/blockdraweropen}}" data-preference="drawer-open-block" data-state="show-drawer-right" data-action="drawer-right-toggle">{{#pix}}i/categoryevent, core{{/pix}}</button>
            {{/hasblocks}}
        </div>
{{/secondarynavigation}}
{{#js}}
require(['theme_boost/drawer'], function(drawer) {
    drawer.region('[data-region="secondary-navigation"]', '[data-action="view-secondary-nav"]' );
});
{{/js}}