<a class="dropdown-toggle nav-link" data-toggle="collapse" data-target="#collapse-{{uniqid}}" aria-expanded="false" aria-controls="collapse-{{uniqid}}">
	{{{name}}}
</a>
<div class="collapse" id="collapse-{{uniqid}}">
	{{{content}}}
</div>